{% extends "::base.html.twig" %}
{% block body%}
    <style type="text/css">
        .members-cont{
            width: 330px;
            border:1px #000 solid;
            display:flex;
            justify-content:space-between;
        }
        .members-item-cont{
            display:flex;
            flex-direction:column;
            border:1px #000 solid;
            width: 100px;
            justify-content:space-arround;
            align-items:center
        }
        .member-item-id{
            display: none;
        }
        .member-item-name{
            width: 100px;
            height: 30px;
            display:flex;
            cursor:pointer;
            margin:2px;
            background:#999;
        }
        .members-cont p{
            text-align: center;
        }
        .submit-member-to-track{
            width: 100px;
            height: 60px;
            cursor:pointer;
            display:flex;
            align-items: center;
            justify-content: center;
            border:1px solid #000;
        }
        .submit-member-to-track:hover{
            background: yellow;
        }
    </style>
{{ dump(track) }}

{{ dump(membersDiff) }}
{{ dump(membersInTrack) }}
<div class="members-cont">
    <div class="members-item-cont diff-cont">
        <p>Добавить в маршрут</p>
        {% for memberDiff in membersDiff %}
            <div class="member-item">
                <p class='member-item-name'>{{ memberDiff.name }}</p>
                <p class="member-item-id">{{ memberDiff.id }}</p>
            </div>
        {% endfor %}
    </div>

    <div class="members-item-cont track-cont">
        <p>Убрать из маршрута</p>
        {% for memberInTrack in membersInTrack %}
            <div class="member-item">
                <p class='member-item-name'>{{ memberInTrack.name }}</p>
                <p class="member-item-id">{{ memberInTrack.id }}</p>
            </div>
        {% endfor %}
    </div>
    <div class ="submit-member-to-track"><p>Обновить учасников</p></div>
</div>
<h3 class="content"></h3>



{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            function diffClickHandler(){
                var el = $(this).clone().bind('click', trackClickHandler)
                $('.track-cont').append(el);
                $(this).remove();

            }
            function trackClickHandler(){
                var el = $(this).clone().bind('click', diffClickHandler);
                $('.diff-cont').append(el);
                $(this).remove();
            }

            function loadData(){
                var dataArrJQ = $('.track-cont>.member-item>.member-item-id');
                var dataArr=[];
                for(var i = 0; i < dataArrJQ.length; i++){
                    dataArr[i] = $(dataArrJQ[i]).html();
                }
                dataArr = JSON.stringify(dataArr);
                console.log(dataArr);


                $.ajax({
                    type:'POST'
                    ,url: ""
                    , data:dataArr
                    , success: function(res) {
                        console.log('ajax send - OK');
                        console.log(res);
                    }
                });

            }

            $('.track-cont>.member-item').bind('click', trackClickHandler);
            $('.diff-cont>.member-item').bind('click', diffClickHandler);


            $('.submit-member-to-track').bind('click', loadData);


        })
    </script>
{% endblock %}

