{% extends "::base.html.twig" %}
{% block body%}
    <style type="text/css">
        .members-cont{
            width: 220px;
            border:1px #000 solid;
            display:flex;
            justify-content:space-between;
        }
        .members-item-cont{
            display:flex;
            flex-direction:column;
            border:1px #000 solid;
            width: 100px;
            justify-content:space-arround;
            align-items:center
        }
        .member-item-id{
            display: none;
        }
        .member-item-name{
            width: 100px;
            height: 30px;
            display:flex;
            cursor:pointer;
            margin:2px;
            background:#999;
        }
        .members-cont p{
            text-align: center;
        }
    </style>
{{ dump(track) }}

{{ dump(membersDiff) }}
{{ dump(membersInTrack) }}
<div class="members-cont">
    <div class="members-item-cont diff-cont">
        <p>Добавить в маршрут</p>
        {% for memberDiff in membersDiff %}
            <div class="member-item">
                <p class='member-item-name'>{{ memberDiff.name }}</p>
                <p class="member-item-id">{{ memberDiff.id }}</p>
            </div>
        {% endfor %}
    </div>

    <div class="members-item-cont track-cont">
        <p>Добавить в маршрут</p>
        {% for memberInTrack in membersInTrack %}
            <div class="member-item">
                <p class='member-item-name'>{{ memberInTrack.name }}</p>
                <p class="member-item-id">{{ memberInTrack.id }}</p>
            </div>
        {% endfor %}
    </div>
</div>



{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.track-cont>.member-item').on('click',function(){
                $('.diff-cont').append($(this).clone());
                $(this).remove();
            })
            $('.diff-cont>.member-item').on('click',function(){
                $('.track-cont').append($(this).clone());
                $(this).remove();
            })
        })
    </script>
{% endblock %}

